extend ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)
  +alert-error(5000)

  h1(class="mb-4") #{pageTitle}

  form(
    action=`/${prefixAdmin}/books/edit/${book.id}/${book.typeBook}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )

    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required 
        value=book.title
      )

    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(
        src=book.thumbnail 
        upload-image-preview 
        class="image-preview"
      )

    div(class="form-group")
      label(for="author") Tác giả
      input(
        type="text"
        class="form-control"
        id="author"
        name="author"
        required 
        value=book.author
      )

    div(class="form-group")
      label(for="publisher") Nhà xuất bản 
      input(
        type="text"
        class="form-control"
        id="publisher"
        name="publisher"
        required 
        value=book.publisher
      )

    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        type="text"
        class="form-control"
        id="desc"
        name="description"
        row="5"
        textarea-mce
      ) #{book.description}
    
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="typeSoft"
        name="typeBook"
        value="softcover"
        checked=(book.typeBook == "softcover" ? true : false) 
      )
      label(for="typeSoft" class="form-check-label") Bản mềm 

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="typeHard"
        name="typeBook"
        value="hardcover"
        checked=(book.typeBook == "hardcover" ? true : false) 
      )
      label(for="typeHard" class="form-check-label") Bản cứng 

    div(class="form-group")
      label(for="price") Giá
      input(
        type="text"
        class="form-control"
        id="price"
        name="price"
        value=book.price
      )
    
    div(class="form-group")
      label(for="discount") Giảm giá
      input(
        type="text"
        class="form-control"
        id="discount"
        name="discount"
        value=book.discount
      )

    div(class="form-group")
      label(for="stock") Số lượng
      input(
        type="text"
        class="form-control"
        id="stock"
        name="stock"
        value=book.stock
      ) 

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(book.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInactive"
        name="status"
        value="inactive"
        checked=(book.status == "inactive" ? true : false)
      )
      label(for="statusInactive" class="form-check-label") Dừng hoạt động

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật




